<body>

<nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/dashboard">RoamingRover</a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:first_name] + " " + session[:last_name] %> <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                        <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div>
        <div class="col-sm-6 dog-map" id="dw-map">
    </div>
    <div class="col-sm-6 mobile-top-head">

        <div id="proposal-success" class="alert alert-success">
            Your proposal was successfully submitted!
        </div>

            <div class="slight-gray dog-appt">
                <!--Dashboard Header-->
            <div class="row">
                    <div class="col-sm-6">
                        <div class="dashboard-header">
                            Requests In Your Area
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 no-pad">
                                <input id="dw-zip" type="text" class="form-control" value="<%= params[:zip] %>" />
                        </div>
                        <div class="col-sm-6">
                                <a id="change-zip" href="javascript: void(0);" class="btn btn-primary">Change</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Dashboard Header-->
            <!--Dashboard Appointments-->
            <div class="dashboard-appointments">
                    <% proposal_bids = Array.new %>
                <% @dog_listings.each do |listing|

                    #Push bid id to proposal_bids array

                    WalkerBids.where(walker_id: session[:user_id]).each do |proposed|
                        proposal_bids << proposed.bid_id
                    end

                    #Stop processing the loop if this listing ID exists in our proposal_bids array

                    if proposal_bids.include?(listing.id)
                        next
                    end

                    #Set up our information for use downstream

                    p listing.client_id
                    p "Hey printing works"
                    given_size = Client.where(user_id: listing.client_id).first.dogsize
                    client_info = User.where(id: listing.client_id).first

                %>

                <!--Dashboard Appointment-->
                <div id="appointment<%= listing.client_id %>" class="dashboard-modbox">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="dashboard-modbox-title">
                                <%= listing.title %>
                            </div>
                        </div>
                        <div class="col-sm-4 txt-right">
                                <small><%= listing.rate %></small>
                        </div>
                    </div>
                    <div class="dashboard-modbox-description">
                            <%= listing.title %>
                    </div>
                    <div class="row margin-top-10">
                            <div class="col-sm-6">
                                <div>
                                    <strong>Dog Size</strong>
                            </div>
                            <div class="margin-top-10">
                                    <ul class="dog-sizes-list">
                                        <li <%= if given_size == "1" then "class=active" end %>><img src="/assets/dogs/dog-icon.png" width="30px" /></li>
                                    <li <%= if given_size == "2" then "class=active" end %>><img src="/assets/dogs/dog-icon.png" width="40px" /></li>
                                    <li <%= if given_size == "3" then "class=active" end %>><img src="/assets/dogs/dog-icon.png" width="50px" /></li>
                                    <li <%= if given_size == "4" then "class=active" end %>><img src="/assets/dogs/dog-icon.png" width="60px" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div>
                                    <strong>Posted By</strong>
                            </div>
                            <div class="row margin-top-10">
                                    <div class="col-sm-3">
                                        <img src="/assets/avatar.png" class="img-responsive" />
                                </div>
                                <div class="col-sm-9">
                                        <div>
                                            <strong><%= client_info.first_name %></strong>
                                    </div>
                                    <div>
                                            <small>Requested on <%= (listing.created_at).strftime("%B %d, %Y %-I:%M %p") %></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Dashboard Appointment-->
                <!--Appointment Proposal-->
                <div id="proposal<%= listing.client_id %>" class="dashboard-proposal-box">
                        <div>
                            <strong>Submit Proposal</strong>
                    </div>
                    <div class="row margin-top-10">
                            <div class="col-sm-8">
                                <textarea name="proposal_description" class="form-control dashboard-proposal-textarea" placeholder="Use this area to tell your client a little about your abilities and experience."></textarea>
                        </div>
                        <div class="col-sm-4">
                                <div class="mobile-top-head">
                                    <input name="proposal_rate" type="text" class="form-control" placeholder="Rate Requested" />
                            </div>
                            <div class="checkbox">
                                <label>
                                        <input name="proposal_share" type="checkbox">
                                        Share phone number?
                                </label>
                            </div>
                            <div class="margin-top-10">
                                    <button type="button" href="#" class="btn btn-primary dashboard-proposal-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Appointment Proposal-->

                <% end %>

            </div>
            <!--/Dashboard Appointments-->
        </div>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
