<h3>You have received a new proposal!</h3>

<div>
  <%= @walker_name %> has sent you a proposal! You can respond to this via email here: <%= @walker_email %>
</div>

<div style="margin-top:20px;">
  <%= @proposal_description %>
</div>

<div style="margin-top:20px;">
  <%= @proposal_rate %>
</div>

<div style="margin-top:20px;">
  <%= @walker_phone %>
</div>